body{
    position:relative;
    background-image: url("bg.png");
    background-color: #ccc;
}

p{
    line-height: 1em;
    font-size: .8em;
}

#rootCanvas{
    display:inline-block;
}

#panel{
    display:inline-block;
    height:100%;
    min-width:170px;
}

.container{
    background: #fff;
    overflow: hidden;
    margin: .2em 0 .2em 0;
}

#genwrap {
    background: #00d1dd;
    margin: .2em 0 .2em 0;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

#generate{
    line-height: 2em;
    height:100%;
    width:100%;
}

.controlbar{
    margin: 0;
    padding: .1em;
    color: #fff;
    text-align: center;
}

.input{
    max-width: 36px;
}

.right{
    float: right;
}

.hidden{
    display:none;
}

.button{
    cursor: pointer!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover{
    background-color: rgba(255,255,255,.2);
}