@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	font-family:'Montserrat', sans-serif;
    background-color: #444;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    line-height: 1em;
    font-size: .8em;
}

#panel{
    flex: none;
    margin-right: .5em;
    position:relative;
}

.container{
    background: #fff;
    overflow: hidden;
    margin: .2em 0 .2em 0;
}

#genwrap {
    margin: .2em 0 .2em 0;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

#generate{
    line-height: 2em;
    height:100%;
    width:100%;
}

.disabled{
	color: #aaa!important;
	background: #777!important;
}

.controlbar{
    margin: 0;
    padding: .1em;
    color: #fff;
    text-align: center;
	font-size: 105%;
}

.right{
    float:right;
}

.input{
    max-width:60px;
}

.hidden{
    display:none;
}

.button{
    cursor: pointer!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover{
    background-color: rgba(255,255,255,.1);
}

#wrap{
    display:flex;
}

.float{
    position:fixed!important;
}

.fitcontent{
    width:100%;
}

.flex{
    flex:1;
}

